.rea_con{
width: 1200px;
margin: 0 auto;	
position: relative;
margin-bottom: 20px;
top: -30px;
overflow: hidden;
}
.re_navbar{
	width: 1200px;
	height: 60px;
	background: #f5f5f5;
	box-shadow: 5px 0px 20px #d4d4d4,-5px 0px 20px #d4d4d4;
border-radius: 8px;
}

.re_cen{
	width: 1100px;
	height: 22px;

	position: absolute;
	left: 50px;
	overflow: hidden;
	top: 20px;
}
.re_cen ul{
	width: 1755px;
	position: absolute;
}
.re_cen ul li{
	float: left;
	width: 156px;
	height: 23px;
	line-height: 22px;
	text-align: center;
	border-left: 1px solid #e6735e;
	
}
.re_cen ul li:first-child{
	border-left: none;
}


.re_cen ul li a{
	font-size: 15px;
	font-family: "微软雅黑";
color: #000;
}

.re_cen ul li a:hover{
	font-weight: bold;
	font-family: "微软雅黑";
	color:#E5674E;
	display: inline-block;
	height: 20px;
	border-bottom: 3px solid #E5674E;
}


.con_le{
	cursor: pointer;
	position: absolute;
	display:block;
	left: 15px;
	top: 22px;
	height: 20px;
	width: 20px;
	background: url(../../img/usRelation/reti_l1.png) no-repeat center center;
}
.con_ri{
position: absolute;
	display:block;
	right: 15px;
	top: 22px;
	height: 20px;
	width: 20px;
	background: url(../../img/usRelation/reti_l2.png) no-repeat center center;	
cursor: pointer;
}

#gong{
	
	font-weight: bold;
	font-family: "微软雅黑";
	color:#E5674E;
	display: inline-block;
	height: 20px;
	border-bottom: 3px solid #E5674E;
}
#bar_bg{
	height: 40px;
	width: 700px;
	position: absolute;
	left: 250px;
	top: 358px;
	left: 50%;
	margin-left: -350px;
	z-index: 9999;
}

/*us poort container*/
.usre_con{
	width: 1200px;
	margin: 0 auto;
	margin-top: -5px;
	padding-bottom: 75px;
}
.us_timer{
	width: 120px;
	height: 33px;
	position: relative;
	background: #ededed;
	margin-left: 50px;
}
.us_r{
	display: inline-block;
	position: absolute;
	right: 0;
	height: 33px;
	width: 33px;
	background: url(../../img/usRelation/re_list1.jpg) no-repeat center center;
	background-size: 100% 100%;
cursor: pointer;
}
.us_l{
	position: absolute;
	display: inline-block;
	width: 87px;
	height: 33px;
	left: 0;
	text-align: center;
	line-height: 33px;
}
.us_list{width: 87px;
position: absolute;
top: 33px;
z-index: 9;
display: none;
}
.us_list li{
	width: 85px;
	height: 33px;
	line-height: 33px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-top: none;
	text-align: center;
}

/*usitem*/
.us_item{
	width: 1160px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
}
.us_ima{
	position: relative;
	float: left;
	width: 200px;
	margin-left: 30px;
	height: 228px;
	border: 1px solid #d6d6d6;
}
.itimg{
	width: 200px;
	height: 228px;
	position: absolute;
	top: 0;
}
.item_img img{
	width: 200px;
	height: 228px;
	
}
.itmeng{
	position: absolute;
	height: 228px;
	width: 200px;
	top: 0;
	background: rgba(0,0,0,0.6);
	color: #FFFFFF;
	text-align: center;
	display: none;
	cursor: pointer;
	}
.itmeng>.re_tit{
	position: absolute;
	
	top: 30px;
	width: 200px;
	
text-align: center;
font-size: 18px;
font-family: "微软雅黑";
}
.re_mor{
	position: absolute;
	width:92px;
	left: 50%;
	margin-left: -46px;
	height: 18px;
	border-radius: 8px;
	border: 1px solid #a16356;
	font-size: 12px;
	font-family: "微软雅黑";

bottom: 30px;
background: #7a4d42;
text-align: center;
line-height: 18px;
}
.re_mor span{
	margin-left: 5px;
}
.itmeng .hrr{
	position: absolute;
	top:50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	height: 2px;
	width: 20px;
	background: #FFFFFF;
	
	
	
}
