.bod_con{
	width: 100%;
	margin: 0 auto;
	height: 90px;
}
.n_header{
	height: 90px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
}
.logo{
	position: absolute;
	left: 0;
	top: 23px;
}
.ne_nav{
	position: absolute;
	left: 440px;
	top: 40px;
}
.ne_nav li{
	float: left;
	padding-left: 22px;
	padding-right: 22px;
	
	height: 35px;
}
.ne_nav li>a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000000;
	display: inline-block;
	padding: 10px;
	background: none;
  border: 0;
  box-sizing: border-box;
 
  
  font-size: inherit;
 
 
  text-align: center;
  text-transform: capitalize;
  position: relative;
  vertical-align: middle;
	border-radius: 8px;
}
.ne_nav li>a:hover{
	background: #E5674E;
	color: #FFFFFF;
}





#i1{
	background: #E5674E;
	color: #FFFFFF;
}
.i_list{
	width: 90px;
	height: 30px;
	position: relative;
	background: #e6e3e3;
	border-radius: 5px;
	top: 5px;
border: 1px solid #E6E3E3;
}
.i_list h2{
	display: inline-block;
	position: absolute;
	left: 0;
	background: #f3f3f3;
	width: 60px;
	height: 30px;
	line-height: 45px;
	font-family: "微软雅黑";
	font-size: 16px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: ;
	font-weight: normal;
	text-align: center;
	line-height:30px;
	
}
.i_do{
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 32px;
	cursor: pointer;
	right: 0;
	background:url(../img/i_xia.png) no-repeat center center;
}
.do_item{
	position: absolute;
	top: 30px;
z-index: 999;
	display: none;
}
.do_item li{
	line-height: 30px;
	background: #f3f3f3;
	font-size: 16px;
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	width: 58px;
	text-align: center;
	border: 1px solid #e6e3e3;
	border-top: none;
}
.do_item  a{
	line-height: 30px;
}
/*footer*/
.footer{
width: 100%;
/*background: url(../../img/footer_bg.png) no-repeat center center;*/
background: url(../img/foot_bgx.jpg) no-repeat center center;
background-size: 100% 100%;
/*height: 600px;*/
height: 391px;
position: relative;
overflow: hidden;

}
.footer .foo_con{
width: 1200px;
margin:0 auto;
height: 400px;


}
.foo_l{
width: 860px;
float: left;
height: 235px;
overflow: hidden;
margin-top: 30px;
}
.foo_l .aul{
width: 185px;
float: left;
margin-left: 27px;
}
.foo_l .aul:first-child{
margin-left: 20px;
}
.foo_l .aul li{
margin-top: 15px;

}
.foo_l .aul li:first-child{
text-align: center;
background:#d3614a ;
width: 120px;
height: 30px;
border-radius: 5px;
line-height: 30px;
margin-left: -15px;
}
.aul li a{
font-size: 16px;
color: #fff;
}

.foo_r{
width: 250px;
height: 500px;

float:right;
padding-top:45px;
}
.foo_r>div:first-child span{
font-size: 16px;
color: #fff;
float: left;
}
.foo_r>div:first-child a{

height: 35px;
width: 35px;
float: left;
margin-left: 20px;
}

.foo_sec{
clear: both;
height: 100px;
padding-top: 40px;
}

.foo_sec  img{
height: 110px;
width: 110px;

}
.foo_sec div{
float: left;
width: 110px;
height: 110px;

margin-left: 10px;
text-align: center;
border: solid 1px;
}
.foo_sec div p{
font-size: 12px;
color: #fff;
}
/*版权*/
.banquan{
	position: absolute;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
	color: #a1a1a1;
	font-size: 16px;
	font-family: "微软雅黑";
	bottom:10px;

	height: 40px;
	line-height: 40px;
	border-top: 1px solid #969595;
}
.adddown{
	position: absolute;
	width: 21px;
	height: 20px;
	left: 50%;
	border: 20px;
	bottom:80px;
	cursor: pointer;
}
.adddown img{
	width: 21px;
	height: 20px;
}