


/*分页*/
.fenye{
width: 1200px;
height: 120px;
margin: 0 auto;

}
 .tcdPageCode {
 	padding: 15px 20px;
 	text-align: left;
 	color: #ccc;
 }
 
 .tcdPageCode a {
 	display: inline-block;
 	color: #E5674E;
 	display: inline-block;
 	height: 25px;
 	line-height: 25px;
 	padding: 0 10px;
 	border: 1px solid #ddd;
 	margin: 0 2px;
 	border-radius: 4px;
 	vertical-align: middle;
 	background: rgba(255, 255, 255, 0.4);
 }
 
 .tcdPageCode a:hover {
 	text-decoration: none;
 	border: 1px solid #E5674E;
 	cursor: pointer;
 }
 
 .tcdPageCode span.current {
 	display: inline-block;
 	height: 25px;
 	line-height: 25px;
 	padding: 0 10px;
 	margin: 0 2px;
 	color: #fff;
 	background-color: #E5674E;
 	border: 1px solid #428bca;
 	border-radius: 4px;
 	vertical-align: middle;
 }
 
 .tcdPageCode span.disabled {
 	display: inline-block;
 	height: 25px;
 	line-height: 25px;
 	padding: 0 10px;
 	margin: 0 2px;
 	color: #bfbfbf;
 	background: #f2f2f2;
 	border: 1px solid #bfbfbf;
 	border-radius: 4px;
 	vertical-align: middle;
 }
 
 #awei img {
 	width: 200px
 }
 
 #awei img:hover {
 	opacity: 0.8
 }

