.cn_map{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;

text-align: center;
}
.cn_map img{
	
	height: 475px;
text-align: center;
}
/*cn_row body部分*/
.cn_art{
	width: 1200px;
	margin: 0 auto;
	margin-top: 58px;

	
}

.cn_row{
	height: 228px;
	width: 100%;
margin-bottom: 20px;
position: relative;

margin-bottom: 20px;

}

.cn_row .cn_left{
	width: 590px;
	height:208px;
	position: absolute;
	left: 0;
	

background: #f5f5f5;

}
.cnn{
	top: 15px;
	cursor: pointer;
	
}
.cn_row .cn_right{
	width: 590px;
	height:208px;
	right: 10px;
	position: absolute;


background: #f5f5f5;

}

.cn_row .cn_itimg img{
	width:250px;
	height:186px;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	
}
.cn_tel{
	float: left;
	width: 281px;
	height: 208px;
	position: relative;
	padding-left: 24px;
}

.cn_tel >div{
	
	position: relative;
	height: 20px;
	width: 270px;
margin-top: 20px;
	
	color: #333;
}
.cn_tel  h3{
	font-family: "微软雅黑";
	font-size: 17px;
	
}
.cn_tel>div{
	margin-bottom: 22px;
}


.cn_tel  dd{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	color: #444;
	position: relative;
	padding-left: 15px;
}
.cn_tel>div>span{
	display: block;
	height: 3px;
width: 60px;
background: #e6735e;
margin-top: 10px;
margin-bottom: 12px;
}
.cn_tel dd i{
	margin-right: 10px;
display: inline-block;
position: absolute;
top: 5px;
left: -3px;
top: 6px;

	}
.cn_tel .radius{
	height: 0;
	width: 0;
	border: 20px solid transparent;
	border-right: 20px solid #F5F5F5;
	position: absolute;
	left: -40px;
	top: 50%;
	margin-top: -20px;
}



.cn_btn{
	height: 40px;
	width: 140px;
	background: #E5674E;
	margin: 0 auto;
	text-align: center;
	border-radius: 7px;
color: #FFFFFF;
font-family: "微软雅黑";
line-height: 40px;
margin-top: 74px;
margin-bottom: 100px;
cursor: pointer;
}
